### Data cleaning

###### To predicting the rating of restaurants based on reviews given by the users.

To determine is there any relationship between online booked and rating.

To determine is there relationship between approximate cost and rating.

To determine is there any relationship between table booking and rating.

To identify which location having the highest number of restaurants.

To determine How many Restaurants are accepting online orders

In [1]:
#loading required modules
import numpy as np  # for scientific computing (mathematical operations)
import pandas as pd # for data preparation and data handling
import matplotlib.pyplot as plt  #for visualisation of data (2d)
import re
import seaborn as sns # For higher visualisation of data
from sklearn.linear_model import LinearRegression  #for building linear regression
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore")

In [6]:
#importing data from my local system
df=pd.read_csv("zomato.csv.zip" )

In [7]:
#Checking first 5 rows of data
df.head(5)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [8]:
#checking shapes
print("No of rows in data set",df.shape[0])
print("No of columns in data set",df.shape[1])

No of rows in data set 51717
No of columns in data set 17

In [9]:
#there are 17 colmns,reading names to know the available columns
df.columns

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [10]:
#Since we are studying the reviews of restaurant , customers personel details are not  required
#so will drop columns such as url 'phone'

In [11]:
df=df.drop(df.columns[[0,1,7]],axis=1) #droping clmns

In [12]:
#To test whether drop action is perforemd or not
df.head(3)

,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari

In [13]:
#checking data types
df.dtypes

name                           object
online_order                   object
book_table                     object
rate                           object
votes                           int64
location                       object
rest_type                      object
dish_liked                     object
cuisines                       object
approx_cost(for two people)    object
reviews_list                   object
menu_item                      object
listed_in(type)                object
listed_in(city)                object
dtype: object

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         51717 non-null  object
 1   online_order                 51717 non-null  object
 2   book_table                   51717 non-null  object
 3   rate                         43942 non-null  object
 4   votes                        51717 non-null  int64
 5   location                     51696 non-null  object
 6   rest_type                    51490 non-null  object
 7   dish_liked                   23639 non-null  object
 8   cuisines                     51672 non-null  object
 9   approx_cost(for two people)  51371 non-null  object
 10  reviews_list                 51717 non-null  object
 11  menu_item                    51717 non-null  object
 12  listed_in(type)              51717 non-null  object
 13  listed_in(city)              51717 non-null  object
dtypes: int64(1), object(13)
memory usage: 5.5+ MB

In [15]:
#rate colmn is of object type lets convert it into float

#first lets us check it's unique values so we can know if there exist any illegal values

In [16]:
df["rate"].unique()

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', 'NEW', '2.9/5', '3.5/5', nan, '2.6/5', '3.8 /5', '3.4/5',
       '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5', '2.3/5',
       '3.4 /5', '-', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5',
       '4.1 /5', '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5', '2.8 /5',
       '3.5 /5', '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5', '4.5 /5',
       '4.3 /5', '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5', '4.6 /5',
       '4.9 /5', '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5',
       '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

In [17]:
#we can observe there is two illegal entries (NEW and '-') and there is /5 which we need to remove

def rate(rt):
    if (rt=='NEW' or rt=='-'):
        return np.nan
    else:
        a=str(rt).split('/')
        rt=a[0]
        return float(rt)
df['rate']=df['rate'].apply(lambda x : rate(x))
df['rate'].head()

0    4.1
1    4.1
2    3.8
3    3.7
4    3.8
Name: rate, dtype: float64

In [18]:
#filling and droping null values
null=df.isnull().sum()
null

name                               0
online_order                       0
book_table                         0
rate                           10052
votes                              0
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [19]:
#calculate total amount of null values in % to decide whether to perform drop or fill action
total_null=null.sum()
total_rows=df.shape[0]
print("Percentage of null values present are:\n",round((total_null/total_rows)*100,2),"%")

Percentage of null values present are:
 74.96 %

In [20]:

df.dropna(subset=["location","rest_type","cuisines","approx_cost(for two people)"],axis=0,inplace=True)
df.reset_index(inplace=True)
df.head(3)

,index,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,0,Jalsa,Yes,Yes,4.1,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,1,Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,2,San Churro Cafe,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari

In [21]:
df.isnull().sum()

index                              0
name                               0
online_order                       0
book_table                         0
rate                            9885
votes                              0
location                           0
rest_type                          0
dish_liked                     27713
cuisines                           0
approx_cost(for two people)        0
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

##### We still have null values in colmn crspndng to rate and dishliked  but since they are large in no if we drop them we loose large portion of data

In [22]:
#Filling null values by imputation  method

In [23]:
# filling missing values in rate with mean
df["rate"]=df["rate"].fillna(round(df["rate"].mean(),1))

In [24]:
# dish_liked is object type lets fill it with unknown
df["dish_liked"]=df["dish_liked"].fillna("unknown")

In [25]:
df.isnull().sum()

index                          0
name                           0
online_order                   0
book_table                     0
rate                           0
votes                          0
location                       0
rest_type                      0
dish_liked                     0
cuisines                       0
approx_cost(for two people)    0
reviews_list                   0
menu_item                      0
listed_in(type)                0
listed_in(city)                0
dtype: int64

##### No more missing values to deal with

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51148 entries, 0 to 51147
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   index                        51148 non-null  int64
 1   name                         51148 non-null  object
 2   online_order                 51148 non-null  object
 3   book_table                   51148 non-null  object
 4   rate                         51148 non-null  float64
 5   votes                        51148 non-null  int64
 6   location                     51148 non-null  object
 7   rest_type                    51148 non-null  object
 8   dish_liked                   51148 non-null  object
 9   cuisines                     51148 non-null  object
 10  approx_cost(for two people)  51148 non-null  object
 11  reviews_list                 51148 non-null  object
 12  menu_item                    51148 non-null  object
 13  listed_in(type)              51148 non-null  object
 14  listed_in(city)              51148 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 5.9+ MB

In [27]:
#aprox cost is in object type lets convert it into float
df["approx_cost(for two people)"]

0          800
1          800
2          800
3          300
4          600
         ...
51143    1,500
51144      600
51145    2,000
51146    2,500
51147    1,500
Name: approx_cost(for two people), Length: 51148, dtype: object

In [29]:
#we have , in most of the values so iof we dirctly try to convert it into float it throws error 
#so first letus get rid of , using replace fnctn
df["approx_cost(for two people)"]=df["approx_cost(for two people)"].apply(lambda x:x.replace(",",""))
df["approx_cost(for two people)"]=df["approx_cost(for two people)"].astype(float)

In [30]:
df["approx_cost(for two people)"]

0         800.0
1         800.0
2         800.0
3         300.0
4         600.0
          ...
51143    1500.0
51144     600.0
51145    2000.0
51146    2500.0
51147    1500.0
Name: approx_cost(for two people), Length: 51148, dtype: float64

In [31]:
# Online_order and book_table are of  mixed case converting them, to all lower

In [32]:
df['online_order']=df["online_order"].apply(lambda x : x.lower())
df['book_table']=df["book_table"].apply(lambda x : x.lower())

In [33]:
df.head(3)

,index,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,0,Jalsa,yes,yes,4.1,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800.0,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,1,Spice Elephant,yes,no,4.1,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800.0,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,2,San Churro Cafe,yes,no,3.8,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800.0,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari

### Cleaning dish_liked

In [34]:
df["dish_liked"][0]

'Pasta, Lunch Buffet, Masala Papad, Paneer Lajawab, Tomato Shorba, Dum Biryani, Sweet Corn Soup'

In [35]:
def clean(dish):
    splt=dish.split(",")
    
    for i in range(len(splt)):
        new_splt=splt[i].split()
        
        if len(new_splt)>1:
            
            splt[i]="_".join(new_splt)
            
    dish="".join(splt).lower()
    return dish

In [36]:
df["dish_liked"]=df["dish_liked"].apply(lambda x: clean(x))

In [37]:
df["dish_liked"][0]

'pastalunch_buffetmasala_papadpaneer_lajawabtomato_shorbadum_biryanisweet_corn_soup'

### Cuisines liked

In [38]:
df["cuisines"]=df["cuisines"].apply(lambda x: clean(x))

In [39]:
df["cuisines"][0]

'north_indian mughlai chinese'

#### Rest type

In [40]:
df["rest_type"][0]

'Casual Dining'

In [41]:
df["rest_type"]=df["rest_type"].apply(lambda x: clean(x))
df["rest_type"][0]

'casual_dining'

### Text data cleaning

In [42]:
def decontracted(phrase):
    """This function will converts shorthend form to full form of english words"""
    # specific
    phrase = re.sub(r"won't", "will not", phrase)
    phrase = re.sub(r"can\'t", "can not", phrase)

    # general
    phrase = re.sub(r"n\'t", " not", phrase)
    phrase = re.sub(r"\'re", " are", phrase)
    phrase = re.sub(r"\'s", " is", phrase)
    phrase = re.sub(r"\'d", " would", phrase)
    phrase = re.sub(r"\'ll", " will", phrase)
    phrase = re.sub(r"\'t", " not", phrase)
    phrase = re.sub(r"\'ve", " have", phrase)
    phrase = re.sub(r"\'m", " am", phrase)
    return phrase

In [43]:
from tqdm import tqdm
def preprocess_text(text_data):
    """This function will clean the text data"""
    preprocessed_text = []
    # tqdm is for printing the status bar
    for sentance in tqdm(text_data):
        sent = decontracted(sentance)
        sent = sent.replace('\\r', ' ')
        sent = sent.replace('NaN', ' ')
        sent = sent.replace('\\n', ' ')
        sent = sent.replace('\\"',  ' ')
        sent = re.sub(r'[0-9]+',  ' ',sent)
        sent = re.sub('[^A-Za-z0-9]+', ' ', sent)
        sent = sent.replace('RATED',' ')
        sent = sent.replace('Rated',' ')
        sent= re.sub(' \w{1,2} ', ' ', sent)                
        sent=' '.join([w for w in sent.split() if len(w)>=3])
        sent = ' '.join(e for e in sent.split() if e.lower() not in stopwords)
        preprocessed_text.append(sent.lower().strip())
        # https://gist.github.com/sebleier/554280
        
    return preprocessed_text

In [44]:
# https://gist.github.com/sebleier/554280
# we are removing the words from the stop words list: 'no', 'nor', 'not' because these words represents negative emotions
stopwords= ['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've",\
            "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', \
            'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their',\
            'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', \
            'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', \
            'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', \
            'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after',\
            'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further',\
            'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more',\
            'most', 'other', 'some', 'such', 'only', 'own', 'same', 'so', 'than', 'too', 'very', \
            's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', \
            've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn',\
            "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn',\
            "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", \
            'won', "won't", 'wouldn', "wouldn't","NaN",]

In [45]:
df['reviews_list'] = preprocess_text(df['reviews_list'].values)

100%|| 51148/51148 [02:44<00:00, 310.34it/s]

In [46]:
df['reviews_list'][0]

'beautiful place dine interiors take back mughal era lightings perfect went occasion christmas limited items available taste service not compromised complaint breads could better would surely like come dinner family weekday restaurant completely empty ambience good good old hindi music seating arrangement good ordered masala papad panner baby corn starters lemon corrionder soup butter roti olive chilli paratha food fresh good service good good family hangout cheers restaurant near banashankari bda along office friends visited buffet unfortunately provide veg buffet inquiring said place mostly visited vegetarians anyways ordered ala carte items took ages come food definitely not visiting anymore went weekend one buffet two took ala carte firstly ambience service place great buffet lot items good good pumpkin halwa intm dessert amazing must try kulchas great cheers best thing place ambiance second best thing yummy food try buffet buffet food not disappointed test quality service staff professional friendly overall experience excellent subirmajumder wixsite com great food pleasant ambience expensive coll place chill relax service really good friendly staff food service ambience overall good ambience tasty food cheese chilli paratha bhutta palak methi curry good combo lemon chicken starters must try item egg fried rice also quite tasty mocktails recommend alice junoon not miss wrong jalsa never fan buffet thus always order alacarte service times slower side food worth wait overdelighted service food provided place royal ethnic atmosphere builds strong essence india also quality taste food truly authentic would totally recommend visit place place nice comfortable food wise jalea outlets maintain good standard soya chaap standout dish clearly one trademark dish per must try concern parking congested limited cars basement parking steep makes cumbersome place nice comfortable food wise jalea outlets maintain good standard soya chaap standout dish clearly one trademark dish per must try concern parking congested limited cars basement parking steep makes cumbersome place nice comfortable food wise jalea outlets maintain good standard soya chaap standout dish clearly one trademark dish per must try concern parking congested limited cars basement parking steep makes cumbersome'

In [49]:
np.count_nonzero(df['reviews_list']=="")

7503

In [48]:
#we need to replace these values

In [50]:
for i in range(len(df['reviews_list'])):
    if df['reviews_list'][i]=="":
        df['reviews_list']="no_reviews"

In [51]:
np.count_nonzero(df['reviews_list']=="")

0

#### Cleaning location

In [52]:
df['location'][10000]

'Koramangala 5th Block'

In [53]:
df['location']=df['location'].apply(lambda x : clean(x))

In [54]:
df['location'][10000]

'koramangala_5th_block'

#### Cleaning names

In [55]:
df['name'][10]

'Caf\x83\x83\x82\x83\x83\x82\x82\x83\x83\x83\x82\x82\x83\x82\x82 Down The Alley'

In [56]:
df['name']=preprocess_text(df['name'].values)

100%|| 51148/51148 [00:01<00:00, 41651.64it/s]

In [57]:
df['name'][10]

'caf alley'

### Cleanin  listed_in(type)

In [58]:
df.columns

Index(['index', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [59]:
df['listed_in(type)'][10]

'Cafes'

In [60]:
df['listed_in(type)']=df['listed_in(type)'].apply(lambda x: clean(x))
df['listed_in(type)'][10]

'cafes'

#### cleaning listed_in(city)

In [61]:
df['listed_in(city)'][10]

'Banashankari'

In [62]:
df['listed_in(city)']=df['listed_in(city)'].apply(lambda x : clean(x))

In [63]:
df['listed_in(city)'][10]

'banashankari'

In [64]:
def cleaning(menu):
    menu=menu.replace("[","").replace("]","")  #to remove [ & ]
    
    menu=re.sub("[0-9]+","",menu) #To clean numbers
    
    menu=menu.replace("'","")
    
    m=menu.split(',')
    
    for i in range(len(m)):
        n=m[i].split()
        if len(n)>1:
            m[i]="_".join(n)
    menu="".join (m).lower()
    return menu

In [65]:
df['menu_item'][20000]

"['Chocolate Fuge', 'Oreo Fudge', 'Litchee Lake', 'Strawberry Melba', 'House Full', 'Veg Rolls', 'Baby Corn Rolls', 'Topped Nachos', 'Cheese Nachos', 'Cherry Berry', 'Gudbud', 'Litchee Lake', 'Strawberry Melba', 'House Full', 'Candy Land', 'Magical Land', 'Jelly Blast', 'Chocolate Fuge', 'Almond Fudge', 'Walnut Honey Bunny', 'Cake Fudge', 'Cashew Fudge', 'Caramel Crackle Fudge', 'Chocolate Mudside', 'Oreo Fudge', 'Willy Wonka', 'Ferrero Rocher', 'Brownie Fudge', 'Walnut Brownie Fudge', 'Going Nuts', 'Death By Chocolate', 'Devils Own', 'Fudge Tub', 'Pineapple Cream Sundae', 'Black Forest Cream Sundae', 'Tiramisu', 'Strawberry Cream Sundae', 'Mango Cream Sundae', 'Voltage Sundae', 'Litche Sundae', 'OMG Sundae', 'Royal Sundae', 'Strawberry Milkshake', 'Chocolate Milkshake', 'Oreo Milkshake', 'Mango Milkshake', 'Frappe Cold Coffee Milkshake', 'Pista Milkshake', 'Black Current Milkshake', 'Muddy Milkshake']"

In [66]:
df['menu_item'][1000]

"['Combo 2', 'Combo 3', 'Combo 1', 'Combo 4', 'Crispy Chilly Baby Corn', 'American Corn And Salt And Pepper', 'Chilly Babycorn', 'Mushroom Pepper', 'Pepper Chicken', 'Chilli Chicken', 'Salt Pepper Fish', 'Fried Wontons-veg', 'Crispy Chilli Potato', 'Szechuan Paneer', 'Gobi Manchurian', 'Spring Rolls-non Veg', 'Thai Red Wings', 'Thai Basil Chicken', 'Drums Of Heaven', 'Dragon Chicken', 'Sweet And Spicy Crispy Chicken', 'Lemon Basil Chicken', 'Thai Fried Chicken', 'Fried Chicken Wings', 'Chicken Lollypop', 'Chicken Meat Ball', 'Szechuan Chicken', 'Pan Fry Chilly Fish', 'Szechuan Prawn', 'Crispy Fish In Sweet Chilli Sauce And Basil', 'Chinese Veal', 'Spicy Lemon Corriander Soup(veg)', 'Lemon Pepper Soup(non Veg)', 'Spicy Lemon Corriander Soup(non Veg)', 'Clear Soup(veg)', 'Noodles Soup(veg)', 'Lemon Pepper Soup(veg)', 'Sweetcorn Soup(veg)', 'Manchow Soup(veg)', 'Hot & Sour Soup(veg)', 'Talumein Soup(veg)', 'Tom Yam Soup(veg)', 'Chicken Mushroom Soup(veg)', 'Tom Kha Soup(veg)', 'Clear Soup(non Veg)', 'Noodles Soup(non Veg)', 'Sweetcorn Soup(non Veg)', 'Manchow Soup(non Veg)', 'Hot & Sour Soup(non Veg)', 'Talumein Soup(non Veg)', 'Tom Yam Soup(non Veg)', 'Chicken Mushroom Soup(non Veg)', 'Tom Kha Soup(non Veg)', 'Chilli Garlic Veg Fried Rice', 'Chilli Garlic Egg Fried Rice', 'Chilli Garlic Prawns Fried Rice', 'Chilli Garlic Mix Fried Rice', 'Veg Fried Rice', 'Mushroom Fried Rice', 'Szechuan Veg Fried Rice', 'Ginger Capscicum Fried Rice', 'Singapore Veg Fried Rice', 'Thai Basil Rice', 'Nasi Goreng Rice', 'Egg Fried Rice', 'Szechuan Egg Fried Rice', 'Ginger Capscicum Eggfried Rice', 'Singapore Egg Fried Rice', 'Thai Basil Egg Rice', 'Nasi Goreng Egg Rice', 'Chicken Fried Rice', 'Szechuan Chicken Fried Rice', 'Ginger Capscicum Chicken Fried Rice', 'Chilli Garlic Chicken Fried Rice', 'Singapore Chicken Fried Rice', 'Thai Basil Chicken Rice', 'Nasi Goreng Chicken Rice', 'Prawns Fried Rice', 'Szechuan Prawn Fried Rice', 'Ginger Capscicum Prawns Fried Rice', 'Singapore Prawns Fried Rice', 'Thai Basil Prawns Rice', 'Nasi Goreng Prawns Rice', 'Mix Fried Rice', 'Szechuan Mix Fried Rice', 'Ginger Capscicum Mix Fried Rice', 'Singapore Mix Fried Rice', 'Thai Basil Mix Rice', 'Nasi Goreng Mix Rice', 'Chilli Garlic Veg Noodles', 'Chilli Garlic Egg Noodles', 'Chilli Garlic Prawns Noodles', 'Chilli Garlic Mix Noodles', 'Veg Noodles', 'Mushroom Noodles', 'Szechuan Veg Noodles', 'Ginger Capsicum Veg Noodles', 'Singapore Veg Noodles', 'Malaysian Noodles-veg', 'Thai Basil Noodles', 'Nasi Gereng Veg Noodles', 'Egg Noodles', 'Szechuan Egg Noodles', 'Ginger Capscicum Egg Noodles', 'Singapore Egg Noodles', 'Malaysian Noodles-egg', 'Thai Basil Egg Noodles', 'Nasi Gereng Egg Noodles', 'Chicken Noodles', 'Szechuan Chicken Noodles', 'Ginger Capscicum Chicken Noodles', 'Chilli Garlic Chicken Noodles', 'Singapore Chicken Noodles', 'Malaysian Noodles-chicken', 'Thai Basil Chicken Noodles', 'Nasi Gereng Chicken Noodles', 'Prawns Noodles', 'Szechuan Prawns Noodles', 'Ginger Capscicum Prawns Noodles', 'Singapore Prawns Noodles', 'Malaysian Noodles-prawn', 'Thai Basil Prawns Noodles', 'Nasi Gereng Prawns Noodles', 'Mix Noodles', 'Szechuan Mix Noodles', 'Ginger Capscicum Mix Noodles', 'Singapore Mix Noodles', 'Malaysian Noodles-mix', 'Thai Basil Mix Noodles', 'Nasi Gereng Mix Noodles', 'Paneer Manchurian', 'Veg Manchurian', 'Szechuan Vegetables', 'Babycorn Manchurian', 'Thai Red Curry-veg', 'Thai Red Curry-non Veg', 'Thai Green Curry-veg', 'Thai Green Curry-non Veg', 'Garlic Chicken', 'Chilli Chicken Gravy', 'Chicken Manchurian', 'Hunan Chicken', 'Szechuan Fish', 'Hunan Fish', 'Garlic Fish', 'Garlic Prawn', 'Paneer Steak Sizzler', 'Manchurian Sizzler', 'Paneer/mushroom Sizzler', 'Veg Mangolian Sizzler', 'Chicken Sizzler', 'Fish Sizzler', 'Prawn Sizzler', 'Veg Chinese Chopsuey', 'Chicken Chinese Chopsuey', 'Prawn Chinese Chopsuey', 'Mixed Chinese Chosuey', 'Veg American Chopsuey', 'Chicken American Chopsuey', 'Prawn American Chopsuey', 'Mixed American Chopsuey', 'Veg Combo', 'Soup Combo Rice', 'Fujian Combo Veg', 'Chicken Combo']"

In [67]:
df['menu_item']=df['menu_item'].apply(lambda x: cleaning(x))

In [68]:
df['menu_item'][20000]

'chocolate_fugeoreo_fudgelitchee_lakestrawberry_melbahouse_fullveg_rollsbaby_corn_rollstopped_nachoscheese_nachoscherry_berry gudbudlitchee_lakestrawberry_melbahouse_fullcandy_landmagical_landjelly_blastchocolate_fugealmond_fudgewalnut_honey_bunnycake_fudgecashew_fudgecaramel_crackle_fudgechocolate_mudsideoreo_fudgewilly_wonkaferrero_rocherbrownie_fudgewalnut_brownie_fudgegoing_nutsdeath_by_chocolatedevils_ownfudge_tubpineapple_cream_sundaeblack_forest_cream_sundae tiramisustrawberry_cream_sundaemango_cream_sundaevoltage_sundaelitche_sundaeomg_sundaeroyal_sundaestrawberry_milkshakechocolate_milkshakeoreo_milkshakemango_milkshakefrappe_cold_coffee_milkshakepista_milkshakeblack_current_milkshakemuddy_milkshake'

In [69]:
df['menu_item'][1000]

'combo  combo  combo  combo crispy_chilly_baby_cornamerican_corn_and_salt_and_pepperchilly_babycornmushroom_pepperpepper_chickenchilli_chickensalt_pepper_fishfried_wontons-vegcrispy_chilli_potatoszechuan_paneergobi_manchurianspring_rolls-non_vegthai_red_wingsthai_basil_chickendrums_of_heavendragon_chickensweet_and_spicy_crispy_chickenlemon_basil_chickenthai_fried_chickenfried_chicken_wingschicken_lollypopchicken_meat_ballszechuan_chickenpan_fry_chilly_fishszechuan_prawncrispy_fish_in_sweet_chilli_sauce_and_basilchinese_vealspicy_lemon_corriander_soup(veg)lemon_pepper_soup(non_veg)spicy_lemon_corriander_soup(non_veg)clear_soup(veg)noodles_soup(veg)lemon_pepper_soup(veg)sweetcorn_soup(veg)manchow_soup(veg)hot_&_sour_soup(veg)talumein_soup(veg)tom_yam_soup(veg)chicken_mushroom_soup(veg)tom_kha_soup(veg)clear_soup(non_veg)noodles_soup(non_veg)sweetcorn_soup(non_veg)manchow_soup(non_veg)hot_&_sour_soup(non_veg)talumein_soup(non_veg)tom_yam_soup(non_veg)chicken_mushroom_soup(non_veg)tom_kha_soup(non_veg)chilli_garlic_veg_fried_ricechilli_garlic_egg_fried_ricechilli_garlic_prawns_fried_ricechilli_garlic_mix_fried_riceveg_fried_ricemushroom_fried_riceszechuan_veg_fried_riceginger_capscicum_fried_ricesingapore_veg_fried_ricethai_basil_ricenasi_goreng_riceegg_fried_riceszechuan_egg_fried_riceginger_capscicum_eggfried_ricesingapore_egg_fried_ricethai_basil_egg_ricenasi_goreng_egg_ricechicken_fried_riceszechuan_chicken_fried_riceginger_capscicum_chicken_fried_ricechilli_garlic_chicken_fried_ricesingapore_chicken_fried_ricethai_basil_chicken_ricenasi_goreng_chicken_riceprawns_fried_riceszechuan_prawn_fried_riceginger_capscicum_prawns_fried_ricesingapore_prawns_fried_ricethai_basil_prawns_ricenasi_goreng_prawns_ricemix_fried_riceszechuan_mix_fried_riceginger_capscicum_mix_fried_ricesingapore_mix_fried_ricethai_basil_mix_ricenasi_goreng_mix_ricechilli_garlic_veg_noodleschilli_garlic_egg_noodleschilli_garlic_prawns_noodleschilli_garlic_mix_noodlesveg_noodlesmushroom_noodlesszechuan_veg_noodlesginger_capsicum_veg_noodlessingapore_veg_noodlesmalaysian_noodles-vegthai_basil_noodlesnasi_gereng_veg_noodlesegg_noodlesszechuan_egg_noodlesginger_capscicum_egg_noodlessingapore_egg_noodlesmalaysian_noodles-eggthai_basil_egg_noodlesnasi_gereng_egg_noodleschicken_noodlesszechuan_chicken_noodlesginger_capscicum_chicken_noodleschilli_garlic_chicken_noodlessingapore_chicken_noodlesmalaysian_noodles-chickenthai_basil_chicken_noodlesnasi_gereng_chicken_noodlesprawns_noodlesszechuan_prawns_noodlesginger_capscicum_prawns_noodlessingapore_prawns_noodlesmalaysian_noodles-prawnthai_basil_prawns_noodlesnasi_gereng_prawns_noodlesmix_noodlesszechuan_mix_noodlesginger_capscicum_mix_noodlessingapore_mix_noodlesmalaysian_noodles-mixthai_basil_mix_noodlesnasi_gereng_mix_noodlespaneer_manchurianveg_manchurianszechuan_vegetablesbabycorn_manchurianthai_red_curry-vegthai_red_curry-non_vegthai_green_curry-vegthai_green_curry-non_veggarlic_chickenchilli_chicken_gravychicken_manchurianhunan_chickenszechuan_fishhunan_fishgarlic_fishgarlic_prawnpaneer_steak_sizzlermanchurian_sizzlerpaneer/mushroom_sizzlerveg_mangolian_sizzlerchicken_sizzlerfish_sizzlerprawn_sizzlerveg_chinese_chopsueychicken_chinese_chopsueyprawn_chinese_chopsueymixed_chinese_chosueyveg_american_chopsueychicken_american_chopsueyprawn_american_chopsueymixed_american_chopsueyveg_combosoup_combo_ricefujian_combo_vegchicken_combo'

In [70]:
np.count_nonzero(df['menu_item']=='')

39093

In [71]:
#Around 39093 rows in menu_item column has '' replacing them with unkonwn

In [72]:
for i in range(len(df['menu_item'])):
    if df['menu_item'][i]=='':
        df['menu_item'][i]='unknown'

In [73]:
df.columns

Index(['index', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

#### done with cleaning process now our data is ready fofr further analysis

In [74]:
df.shape

(51148, 15)

In [77]:
#Now we are saving the cleaned data, so that we don't need to re run the above cells again. 
# We can use these cleaned saved file for further analysis.
df.to_csv("cleaned_data.csv")